h1 {
    margin: 0
}

h3 {
    color: darkslategray;
}

.header {
    height: 200px;
    color:black;
    text-align: center;
    position:relative;
}

.header h1{
    letter-spacing: 20px;
    font-size: 8rem;
    font-family: 'Lobster Two';
}

nav {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color:dark;
    font-size: 1rem;
    height: 50px;;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

nav a {
    padding: 10px;

}

hr {
    background-image: url('./images/hr.png');
    height: 50px;
    width: 500px;
    border:0
}

main {
    display: flex;
}

main > div {
    position: relative;
    width: 40%;
    padding-left: 30%;
    padding-right: 30%
}

#intro {
    height: 1050px;
    text-align: center;
}

#intro img {
    width: 100%;
}

ul,ol {
    padding-left: 35%;
    padding-right: 35%;
    list-style-position: inside;
    text-align: left;
    line-height: 25px;
    font-weight: bold;
}

ol {
    list-style-type: lower-alpha;
    list-style-position: inside;
}


#about {
    height: 400px;
    text-align: center;
}

#contact {
    height: 200px;
    text-align: center;
}

#contact a {
    padding: 10px;
}

a:link { 
    color:black;
    text-decoration: none; 
}

a:visited { 
    color:black;
    text-decoration: none; 
}


a:hover { 
    color: white;
    text-decoration: none; }


a:active { 
    color:beige;
    text-decoration: none; 
}

#contact img {
    height: 50px;
    width: 50px;
}

footer {
    text-align: center;
    padding: 20px;
}

header,footer {
    background: lightslategray;
    color: black;
}
